<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1 style="text-align: center; font-size: 24px;">Welcome!</h1>
  <p style="text-align: center; font-size: 16px;">You are not supposed to be here!</p>
</body>
</html>
